name: Release

on:
  workflow_dispatch:
    inputs:
      versionType:
        description: version type increment
        required: true
        type: choice
        options:
          - major
          - minor
          - patch
      nodeAuthToken:
        description: NPM automation access token
        required: true
        type: string

permissions:
  contents: write
  # permission for npm error Provenance generation in GitHub Actions requires "write" access to the "id-token" permission
  # permission must be reset here otherwise we get the following error:
  # > The workflow is not valid. Error calling workflow. The workflow is requesting # 'id-token: write', but is only allowed 'id-token: none'.
  id-token: write

jobs:
  run-release:
    uses: powsybl/github-ci/.github/workflows/release-frontend-lib-generic.yml@1b7ab474cbc9d1f50e6c4d32f18184b3d3443fec
    with:
      versionType: ${{ github.event.inputs.versionType }}
      nodeAuthToken: ${{ github.event.inputs.nodeAuthToken }}
      githubappId: ${{ vars.GRIDSUITE_ACTIONS_APPID }}
    secrets:
      VERSIONBUMP_GHAPP_PRIVATE_KEY: ${{ secrets.VERSIONBUMP_GHAPP_PRIVATE_KEY }}
